// Override default variables before the import
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff !important;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

html, body, #root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
